.dashboardContainer{
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0px;
}
.navLink {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
    padding-left: 10px;
    transition: 100ms;
}

.navLink:hover{
    color: #4d6f99;
    border-right: 3px solid #4d6f99;
}

.footer{
    position: absolute;
    bottom: 0px;
    height: 50px;
    background: #385170;
    width: 100%;
    border-top: 2px solid white;
    color: #ECECEC;
    display: flex;
    justify-content: center;
}
.footer a{
    align-self: center;
    margin: 0px 15px;
    transition: .3s;
}

.footer a:hover{
    color: #9FD3C7;
}
